@charset "UTF-8";
body {
    background-color: rgba(219, 202, 204, 0.706);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
  }
  h1 {
    color: lightseagreen;
    background-color: rgb(197, 227, 226);
  }
  h2 {
    color: palevioletred;
  }
  p {
    text-align: justify;
  }
  a { color: rgb(38, 145, 30);
    text-decoration: none;
  }